@model Schedule.DAL.Entities.ClientProfile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<h2>Profile</h2>

@Html.LabelFor(name => Model.Name):<p>@Model.Name [Edit]</p> 
@Html.LabelFor(surname => Model.Surname):<p>@Model.Surname [Edit]</p> 
@Html.LabelFor(age => Model.Age):<p>@Model.Age [Edit]</p>
