@using Schedule.DAL.Entities
@model IEnumerable<Schedule.DAL.Entities.ApplicationUser>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<script type="text/javascript" src="~/Scripts/Custom/Alert.js"></script>

<h2>Admin</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> 
        <p>@TempData["Error"]</p>
    </div>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        User Profiles
    </div>
    <table class="table table-striped">
        <thead style="font-weight: bold">
            <tr>
                <td style="width: 300px">Id</td>
                <td>@Schedule.Resources.HomeTexts.Name</td>
                <td>@Schedule.Resources.HomeTexts.Email</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@Html.ActionLink(@Schedule.Resources.HomeTexts.Delete, "Delete", new {id = @user.Id}, new {@class = "btn btn-danger"})</td>
                </tr>
            }
        </tbody>
    </table>
</div>
