@using Schedule.DAL.Entities
@model IEnumerable<Schedule.DAL.Entities.ApplicationUser>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<script type="text/javascript" src="~/Scripts/Custom/Alert.js"></script>

<h2>Admin</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> 
        <p>@TempData["Error"]</p>
    </div>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        User Profiles
    </div>
    <table class="table table-striped">
        <thead style="font-weight: bold">
            <tr>
                <td style="width: 300px">Id</td>
                <td>@Schedule.Resources.HomeTexts.Name</td>
                <td>@Schedule.Resources.HomeTexts.Email</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model)
            {
                if (user.LockoutEnabled)
                 {
                     <tr style="color: grey">
                         <td>@user.Id</td>
                         <td>@user.UserName</td>
                         <td>@user.Email</td>
                         <td style="width: 100px">@Html.ActionLink("UnBlock", "DisableLockOut", new {id = @user.Id}, new {@class = "btn btn-success"})</td>
                     </tr>
                 }
                 else
                 {
                     <tr>
                         <td>@user.Id</td>
                         <td>@user.UserName</td>
                         <td>@user.Email</td>
                         <td style="width: 100px">@Html.ActionLink("Block", "LockOut", new {id = @user.Id}, new {@class = "btn btn-danger"})</td>
                         <td style="width: 100px">@Html.ActionLink("Edit", "Edit", new { id = @user.Id }, new { @class = "btn btn-default" })</td>
                     </tr>
                 }
            }
        </tbody>
    </table>
</div>
