@*@model Schedule.BLL.Model.CalendarModel*@
@{ 
    ViewBag.Title = "Calendar";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/confirmCss")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryconf")
@Scripts.Render("~/bundles/bootstrap")

<link rel="stylesheet" href="~/Content/FullCalendar/fullcalendar.min.css" />
<link rel="stylesheet" href="~/Content/FullCalendar/scheduler.min.css" />

<script src="~/Scripts/FullCalendar/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/FullCalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="~/Scripts/FullCalendar/scheduler.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/locale/ru.js"></script>
<script src="~/Scripts/Bootstrap DatePicker/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/Bootstrap DatePicker/bootstrap-datetimepicker.min.css" />

<script src="~/Scripts/Custom/FullCal.js"></script>


<div id="calendar"></div>

