<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryconf")
</head>
<body>
	<a href="@Url.Action("Change", "Language", new { lang = "en" })"><img src="~/Content/Images/if_United-Kingdom-flag_32363.png" class="icon-flag" />English</a>
	<a href="@Url.Action("Change", "Language", new { lang = "ru" })"><img src="~/Content/Images/if_Russia-Flag_32315.png" class="icon-flag" />Russian</a>
    <div class="navbar navbar-default">
        <div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Schedule", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo-link", style = "color: white" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink(Schedule.Resources.HomeTexts.Home, "Index", "Home", null, new { style = "color: white", @class = "ActionLink" })</li>
					<li>@Html.ActionLink(Schedule.Resources.HomeTexts.Contact, "Contact", "Home", null, new { style = "color: white", @class = "ActionLink" })</li>
					<li>@Html.ActionLink(Schedule.Resources.HomeTexts.Feedback, "Feedback", "Home", null, new { style = "color: white", @class = "ActionLink" })</li>
					<li>@Html.ActionLink(Schedule.Resources.HomeTexts.News, "Index", "News", null, new { style = "color: white", @class = "ActionLink" })</li>
					<li>@Html.ActionLink(Schedule.Resources.HomeTexts.Calendar, "Index", "Calendar", null, new { style = "color: white", @class = "ActionLink" })</li>
				</ul>
				<ul style="color: white" class="nav navbar-nav navbar-right hidden-sm">
					@if (!User.Identity.IsAuthenticated)
					{
						@*<li class="identity-logout identity-log">@Html.ActionLink("Log In", "Login", "Account", null, new { style = "color: white", @class = "logout-link" })</li>
						<li class="identity-logout identity-log">@Html.ActionLink("Sign Up", "Register", "Account", null, new { style = "color: white", @class = "logout-link" })</li>*@
					    <li class="dropdown identity-icon">
					        <a href="@Url.Action("Login", "Account")" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
					        <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
					            @Html.Partial("LoginPartial", new Schedule.BLL.Model.LoginModel())
					        </ul>
					    </li>
					}
					else
					{
					    <li class="identity-name">@Html.ActionLink($"{@Schedule.Resources.HomeTexts.Hello}, {@User.Identity.Name}", "Profile", "Account", new { name = User.Identity.Name }, new { style = "color: white", @class = "ActionLink" })</li>
						<li class="identity-logout"> @Html.ActionLink(Schedule.Resources.HomeTexts.Log_Out, "Logout", "Account", null, new { style = "color: white", @class = "logout-link" }) </li>
					}

				</ul>
			</div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Schedule</p>
        </footer>
    </div>

</body>
</html>
