@model Schedule.BLL.Model.NewsViewModelItem
@{
    ViewBag.Title = Schedule.Resources.HomeTexts.Create;
}

@if (TempData["Error"] != null)
{
	<br />
	<div class="alert alert-danger fade in">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Error!</strong>
		<p>@TempData["Error"]</p>
	</div>
}

@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
        <h4>Short Title</h4>
        @Html.TextBoxFor(model => model.ShortTitle, new { @class = "form-control", id = "tdShortTitle", name = "ShortTitle", required = "required", autocomplete = "off" }) <span class="char">60 left</span>
		@Html.ValidationMessageFor(model => model.ShortTitle, "", new { @class = "text-danger" })
        <br />
        <h4>Full Title</h4>
        @Html.TextBoxFor(model => model.FullTitle, new { @class = "form-control", id = "tdFullTitle", name = "FullTitle", required = "required", autocomplete = "off" }) <span class="char">256 left</span>
		@Html.ValidationMessageFor(model => model.FullTitle, "", new { @class = "text-danger" })
        <br />
        <h4>Images</h4>
        @Html.TextBoxFor(Model => Model.NewsImages, new { type = "file", multiple = "true", @class = "btn btn-default" })
		@Html.ValidationMessageFor(model => model.ShortArticle, "", new { @class = "text-danger" })
        <br />
        <br />
        <h4>Short Article</h4>
        @Html.TextAreaFor(model => model.ShortArticle, 5, 0, new { @class = "form-control", id = "tdShortArticle", name = "ShortArticle", required = "required", autocomplete = "off" }) <span class="char">410 left</span>
		@Html.ValidationMessageFor(model => model.ShortArticle, "", new { @class = "text-danger" })
        <br />
        <h4>Full Article</h4>
        @Html.TextAreaFor(model => model.FullArticle, 20, 0, new { @class = "form-control", required = "required", autocomplete = "off" })
        <br />
        <input type="submit" value="Save" class="btn btn-success" id="btn-save" />
        @Html.ActionLink("Back to all items", "Panel", null, new { @class = "btn btn-default", id = "btn-back" })
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/Custom/isDirty.js"></script>
<script type="text/javascript" src="~/Scripts/Custom/CharsLeft.js"></script>