
@{
    ViewBag.Title = "News";
}


<div class="row news-column-1">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <a href="#"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2017/07/KikdaJdzhest-luchshie-veshhi-kotorye-mozhno-kupit-na-Kickstarter-i-v-drugix-mestax_1499448471-1140x570.jpg" class="img-responsive img-news" alt="Notting Hill Carnival"/></a>
    </div>
    <div class="col-md-4">
        <h1><a href="#" class="news-link">Notting Hill Carnival</a></h1>
        <span class="glyphicon glyphicon-calendar news-span"></span><p class="spanP">@DateTime.Now</p><span class="glyphicon glyphicon-comment news-span"></span><p class="spanP">22</p>
        <p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac elit lobortis, mattis nisl at, consectetur nulla. Nunc nec libero sed tellus malesuada commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod neque in arcu consequat, at venenatis quam vulputate. Praesent at laoreet leo. Nullam laoreet, tellus ultricies blandit vehicula, leo lorem tempus ipsum, a consequat libero lectus posuere nisl. Donec massa lacus, aliquam ac elit vel, facilisis rutrum turpis.</p>
    </div>
</div>

<div class="row news-column-2">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="#"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2017/07/5-prepyatstviJ-na-puti-k-celi-kotorye-vydumyvaet-nash-mozg_1499447393-1140x570.jpg" class="img-responsive img-news" alt="Record-breaking royal"/></a>
        <h1><a href="#" class="news-link">Record-breaking royal</a></h1>
        <span class="glyphicon glyphicon-calendar news-span"></span><p class="spanP">@DateTime.Now</p><span class="glyphicon glyphicon-comment news-span"></span><p class="spanP">34</p>
        <p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac elit lobortis, mattis nisl at, consectetur nulla. Nunc nec libero sed tellus malesuada commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod neque in arcu consequat, at venenatis quam vulputate. Praesent at laoreet leo. Nullam laoreet, tellus ultricies blandit vehicula, leo lorem tempus ipsum, a consequat libero lectus posuere nisl. Donec massa lacus, aliquam ac elit vel, facilisis rutrum turpis.</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="#"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2017/07/CHem-zanyatsya-v-dozhdlivyJ-den_1499443520-1140x570.jpg" class="img-responsive img-news" alt="Snakes in a cafe"/></a>
        <h1><a href="#" class="news-link">Snakes in a cafe</a></h1>
        <span class="glyphicon glyphicon-calendar news-span"></span><p class="spanP">@DateTime.Now</p><span class="glyphicon glyphicon-comment news-span"></span><p class="spanP">62</p>
        <p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac elit lobortis, mattis nisl at, consectetur nulla. Nunc nec libero sed tellus malesuada commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod neque in arcu consequat, at venenatis quam vulputate. Praesent at laoreet leo. Nullam laoreet, tellus ultricies blandit vehicula, leo lorem tempus ipsum, a consequat libero lectus posuere nisl. Donec massa lacus, aliquam ac elit vel, facilisis rutrum turpis.</p>
    </div>
</div>

<div class="row news-column-1">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <a href="#"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2017/06/15-besplatnyx-onlaJn-kursov-iyulya-dlya-prokachki-svoix-znaniJ_1498769266-1140x570.jpg" class="img-responsive img-news" alt="Plant energy"/></a>
    </div>
    <div class="col-md-6">
        <h1><a href="#" class="news-link">Plant energy</a></h1>
        <span class="glyphicon glyphicon-calendar news-span"></span><p class="spanP">@DateTime.Now</p><span class="glyphicon glyphicon-comment news-span"></span><p class="spanP">42</p>
        <p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac elit lobortis, mattis nisl at, consectetur nulla. Nunc nec libero sed tellus malesuada commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod neque in arcu consequat, at venenatis quam vulputate. Praesent at laoreet leo. Nullam laoreet, tellus ultricies blandit vehicula, leo lorem tempus ipsum, a consequat libero lectus posuere nisl. Donec massa lacus, aliquam ac elit vel, facilisis rutrum turpis.</p>
    </div>
</div>

<div class="row news-column-3">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="#"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2017/07/vpn_1499252986-1140x570.jpg" class="img-responsive img-news" alt="Grass phone"/></a>              
        <h3><a href="#" class="news-link">Grass phone</a></h3>
        <span class="glyphicon glyphicon-calendar news-span"></span><p class="spanP">@DateTime.Now</p><span class="glyphicon glyphicon-comment news-span"></span><p class="spanP">12</p>
        <p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac elit lobortis, mattis nisl at, consectetur nulla. Nunc nec libero sed tellus malesuada commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod neque in arcu consequat, at venenatis quam vulputate. Praesent at laoreet leo. Nullam laoreet, tellus ultricies blandit vehicula, leo lorem tempus ipsum, a consequat libero lectus posuere nisl. Donec massa lacus, aliquam ac elit vel, facilisis rutrum turpis.</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="#"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2017/07/AliExpress-samye-interesnye-naxodki-etoJ-nedeli_1499377660-1140x570.jpg" class="img-responsive img-news" alt="A good year for smelly fruit"/></a>
        <h3><a href="#" class="news-link">A good year for smelly fruit</a></h3>
        <span class="glyphicon glyphicon-calendar news-span"></span><p class="spanP">@DateTime.Now</p><span class="glyphicon glyphicon-comment news-span"></span><p class="spanP">27</p>
        <p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac elit lobortis, mattis nisl at, consectetur nulla. Nunc nec libero sed tellus malesuada commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod neque in arcu consequat, at venenatis quam vulputate. Praesent at laoreet leo. Nullam laoreet, tellus ultricies blandit vehicula, leo lorem tempus ipsum, a consequat libero lectus posuere nisl. Donec massa lacus, aliquam ac elit vel, facilisis rutrum turpis.</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="#"><img src="https://cdn.lifehacker.ru/wp-content/uploads/2017/07/5-tipichnyx-oshibok-velosipedistov_1499381122-1140x570.jpg" class="img-responsive img-news" alt="Monuments in Nepal reopen"/></a>
        <h3><a href="#" class="news-link">Monuments in Nepal reopen</a></h3>
        <span class="glyphicon glyphicon-calendar news-span"></span><p class="spanP">@DateTime.Now</p><span class="glyphicon glyphicon-comment news-span"></span><p class="spanP">39</p>
        <p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac elit lobortis, mattis nisl at, consectetur nulla. Nunc nec libero sed tellus malesuada commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam euismod neque in arcu consequat, at venenatis quam vulputate. Praesent at laoreet leo. Nullam laoreet, tellus ultricies blandit vehicula, leo lorem tempus ipsum, a consequat libero lectus posuere nisl. Donec massa lacus, aliquam ac elit vel, facilisis rutrum turpis.</p>
    </div>
    
</div>

