@model List<Schedule.BLL.Model.NewsViewModelItem>
@using Schedule.Helpers;

@{
    ViewBag.Title = "News Panel";
}

<hr />
<a class="btn btn-default" href="@Url.Action("Create", "News")">Add Article</a>
<hr />
@Styles.Render("~/Content/confirmCss")
@Scripts.Render("~/bundles/jqueryconf")
@Styles.Render("~/Content/dataTables")
@Scripts.Render("~/Scripts/dataTables")

<table class="table table-bordered table-hover" id="myTable">
    <thead style="font-weight: bold; font-size: 18px">
        <tr>
            <td style="width: 10px" >Id</td>
            <td style="width: 200px">Title</td>
            <td>Article</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {

        $('#myTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "dataTablesData",
            
            columns: [
                { data: 'Id' },
                { data: 'FullTitle' },
                { data: 'FullArticle' }
            ],
            "order": [[ 0, "desc" ]],
            select: {
                style: 'single'
            },
        });


    });


</script>

<script type="text/javascript">
    $("#btn-edit").click(function () {
        $.alert({
            title: 'Alert!',
            content: 'Simple alert!',
        });
    });
</script>